/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
    position: relative;
}

.loader::after {
    content: 'Loading...';
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #514b82;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 5rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
}